header{
   color: cornsilk;
   font-size: 50px;
   font-family: 'Pacifico', cursive;
   display: flex;
}




body{
   color: cornsilk;
   background-image: url('/fallBackround2.jpeg');
   display: grid;
   font-size: 78px;

   
   margin-left: 600px;
}

.addInputs{
   color: cornsilk;
   
}





   
